* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
}

header {
  background-color: #1F2937;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  width: 65%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  padding: 16px 0;
}

#logo {
  margin-right: auto;
  font-size: 24px;
  color: #F9FAF8;
}

.wide {
  width: 65%;
}

.hero {
  background-color: #1F2937;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
}

.hero-content {
  display: flex;
  gap: 20px;
}

.left,
.right {
  flex: 1;
}


.title {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
  margin-bottom: 15px;
}

.text {
  color: #E5E7EB;
  font-size: 18px;
}

button {
  background-color: #3882F6;
  font-size: 18px;
  color: #E5E7EB;
  padding: 8px 20px;
  border-style: none;
  border-radius: 5px;
  margin-top: 15px;
}

.responsive {
  width: 100%;
  height: auto;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0 100px 0;
}

.info-content {
  width: 50%;
}

.info-header {
  color: #1F2937;
  font-size: 36px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 30px;
}

.box {
  border: 4px solid #3882F6;
  border-radius: 10px;
  width: 150px;
  height: 150px;
  margin-bottom: 6px;
}

.cards {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.item {
  max-width: 150px;
  text-align: center;
}